<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTOCAP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home_style.css">
</head>

<body class="bg-teal-200 font-['Plus_Jakarta_Sans']  flex flex-col min-h-screen">
<nav class="flex justify-between items-center py-4 px-6 text-center">
    <div class="text-black font-bold text-lg">
        <a href="/" class="flex items-center">
            <span class="text-red-500">/</span> AUTOCAP
        </a>
    </div>

    <div class="nav-links hidden sm:flex space-x-20">
        <a href="/" class="text-black mx-2">Home</a>
        <a href="generate_caption.html" class="text-black mx-2">Generate Caption</a>
        <a href="#" class="text-black mx-2">About Us</a>
    </div>

    <div class="nav-links hidden sm:flex space-x-5">
        <a href="#" class="text-black mx-2">Login</a>
        <a href="#" class="text-black mx-2">SignUp</a>
    </div>
</nav>

<main class="flex items-center justify-center px-4 py-2 sm:py-4 flex-grow">
    <div class="bg-teal-200 p-4 sm:p-8 rounded-lg shadow-lg text-center w-full max-w-4xl mx-auto border border-white border-2 custom-height">
        <h1 class="text-3xl sm:text-8xl font-bold mb-4 sm:mb-8">AUTO</h1>
        <h1 class="text-3xl sm:text-8xl font-bold mb-4 sm:mb-8">CAP</h1>
        <p class="text-gray-700 text-sm sm:text-base mb-4 sm:mb-8"><i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit"</i></p>
        <hr class="border-white-300 my-4 sm:my-8">
        <button class="bg-black text-white px-4 sm:px-6 py-2 sm:py-3 rounded">Next</button>
    </div>
</main>

</body>
</html>
